/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 11 Oct 2019, 2:48:23 AM
    Author     : Aaron Chua
*/

.singleProduct
{
    margin-top: 150px;
}

.img {
  margin-top: -30px;  
  max-width: 100%;
  height: auto;
}


.new-arrival
{  
    background: green;
    width: 50px;
    color: #fff;
    font-size: 12px;
    font-weight: bold;
    margin-top: 20px;
}

.col-md-7
{
    color: #555;
       
}

#price
{
  color: orangered;
  font-size: 26px;
  font-weight: bold;
 
}

.singleProduct input
{
    border: 1px solid #ccc;
    font-weight: bold;
    height: 33px;
    text-align: center;
    width: 50px;
}

button[type=submit] {
    background: green !important;
    color: #fff;
    font-size: 15px;
    margin-left: 20px;
    border:none;
    box-shadow:none !important;
}

.productDescription h2
{
    margin-top: 50px;
    color: orangered;    
}

.productDescription p
{
    margin-top: 30px;
}

.productDescription hr
{
    margin-bottom: 50px;
}

/* For mobile phones: */
[class*="col-"] {
    width: 100%;
}
  
@media only screen and (min-width: 600px) {
    /* For tablets: */
    .col-s-1 {width: 8.33%;}
    .col-s-2 {width: 16.66%;}
    .col-s-3 {width: 25%;}
    .col-s-4 {width: 33.33%;}
    .col-s-5 {width: 41.66%;}
    .col-s-6 {width: 50%;}
    .col-s-7 {width: 58.33%;}
    .col-s-8 {width: 66.66%;}
    .col-s-9 {width: 75%;}
    .col-s-10 {width: 83.33%;}
    .col-s-11 {width: 91.66%;}
    .col-s-12 {width: 100%;}
}
  
@media only screen and (min-width: 768px) {
    /* For desktop: */
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
}